body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 10vh
}

main {
  flex-grow: 1;
}

footer {
  height: 10vh
}

#bazooka {
  visibility: hidden;
}

.font-marker {
  font-family: 'Permanent Marker', cursive;
}

.font-rock-salt {
  font-family: 'Rock Salt', cursive;
}